name: Build AGTR Client

on:
  push:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Configure
      run: cmake -B build -G "Visual Studio 17 2022" -A Win32 -DCMAKE_TOOLCHAIN_FILE="$env:VCPKG_INSTALLATION_ROOT/scripts/buildsystems/vcpkg.cmake" -DVCPKG_MANIFEST_MODE=ON

    - name: Build client
      run: cmake --build build --config Release --target client

    - name: Upload client.dll
      uses: actions/upload-artifact@v4
      with:
        name: AGTR-client-dll
        path: build/**/client.dll
