name: Build AGTR Client

on:
  push:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    
    - name: Install dependencies
      run: |
        vcpkg install nlohmann-json:x86-windows
        
    - name: Build
      run: |
        cmake -B build -G "Visual Studio 17 2022" -A Win32 -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake
        cmake --build build --config Release --target client
    
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: AGTR-client
        path: build/**/client.dll
